@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}
.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}



.ant-select-selector{
  border: 1px solid #d9d9d9 !important;
}

.ant-select-selector:hover{
  box-shadow: 0px 0px 5px 2px #222 !important;
}
